<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <recommended_settings>
            <general>
                <enabled>1</enabled>
                <limit>5</limit>
                <title>Recommended Products</title>
            </general>
        </recommended_settings>
    </default>
</config>
