<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="recommended_settings" translate="label" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Recommended Products</label>
            <tab>catalog</tab>
            <resource>Magento_Config::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recommended Product carousel Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1">
                    <label>Enable Recommended Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="limit" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>Number of Products for Carousel</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Block Title</label>
                </field>
            </group>
        </section>
    </system>
</config>
